.hp_CampaignCard {
  background-color: white;
  box-shadow: 2px 0 20px 0 rgba(0, 0, 0, 0.1);
  margin-top: 24px;
  padding: 224px 24px 24px;
  position: relative;
}

.hp_CampaignCard:first-child {
  margin-top: 0;
}

.hp_CampaignCard-cover {
  background-image: url(https://duaw26jehqd4r.cloudfront.net/items/1M0C3r3X2t0x2q342A2A/benito.png?v=933367f2);
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 200px;
}

.hp_CampaignCard-header {
  margin-bottom: 16px;
}

.hp_CampaignCard-title {
  font-size: 24px;
}

.hp_CampaignCard-meta {
  font-size: 12px;
}

.hp_CampaignCard-date {
  margin-right: 4px;
}

.hp_CampaignCard-tag {
  color: white;
  background-color: #72c02c;
  padding: 1px 6px;
}

.hp_CampaignCard-tag::before {
  font-family: 'hopets';
  content: "\e904";
  margin-right: 6px;
}

.hp_CampaignCard-summary {
  margin-bottom: 16px;
}

.hp_CampaignCard-footer {
  display: flex;
  justify-content: space-between;
}

/* Extra small < 576px (by default) */

/* Small >= 576px and < 768px */
@media screen and (min-width: 576px) {
  .hp_CampaignCard {
    padding-top: 24px;
    padding-left: 224px;
  }

  .hp_CampaignCard-cover {
    height: 100%;
    width: 200px;
  }
}

/* Large >= 992px and < 1200px */
@media screen and (min-width: 992px) {
  .hp_CampaignCard {
    width: calc(50% - 12px);
    margin-left: 0;
    margin-right: 0;
  }

  .hp_CampaignCard:nth-child(2) {
    margin-top: 0;
  }
}
